#div_company_logo {
    width: 45%;
    height: 35%;
}
#div_company_address {
    width: 50%;
    text-align: left;
    font-size: 13px;
}

#div_customer_address {
    width: 33%;
    font-size: 13px;
}
#div_invoice_title {
    width: 38%;
    text-align: left;
}
#div_invoice_data {
    width: 50%;
    padding-top: 15px;
    font-size: 13px;
}

.invoice_data_title {
    text-align: right;
    padding-right: 5px;
    font-size: 13px;
}

#div_customer_address_shipping {
    /*padding-bottom: 18px;*/
    font-size: 13px;;
}


#company_logo {
    width: 257px;
    height: 75px;
    margin-top: 1px;
}
#company_address {
}

#invoice_title{
    font-size: 25px;
    font-weight: bold;
    text-align: left;
    margin-left: 450px;
    color:#39668c;
}

.msg_title{
    font-size: 15px;
    font-weight: bold;
    color:#39668c;
    background-color: #EBF5FB;
    text-align:center;
    padding: 0px;
    vertical-align: middle;
    /*margin-bottom:5px;*/
}

.invoice_thead{
    text-align: center;
    color:white;
    font-size: 12px;
    background-color:#39668c; 
    margin-bottom: -50px;
    font-style: calibri;
}

.inoice_data{
    font-size: 12px;
    font-style: calibri;
    color:black;
}

.notes_thead{
    text-align: center;
    color:white;
    font-size: 13px;
    background-color:#39668c; 
    padding: 0px;
}

.invoice_total{
    font-size: 12px;
    background-color: #EBF5FB;
    text-align:right;
    font-style: calibri;
    color:black;
}

#company_name{
    font-size:20px;
}

.customer_small_title {
    font-weight: bold;
    /*margin-left: 50px;*/
}


.footer {
    margin: 0px;
    padding: 0px;
}

/*#footer_terms_conditions td {
    border: 1px solid black;
    padding: 15px;
    font-size: 13px;
}*/

#div_footer_bank {
    margin-top: 5px;
}

.bank_data{
    font-size: 13px;
    font-style: calibri;
}

#footer_bank td {
    padding: 15px;
    font-size: 13px;
}

#pagination {
    text-align: right;
}

#sharevault_table_invoice {
    border: 1px solid lightgrey;
    padding: 5px;
}
#sharevault_table_invoice th {
    border-right: 1px solid lightgrey;
    border-left: 1px solid lightgrey;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    padding: 5px;
}

#sharevault_table_invoice td {
    border-right: 1px solid lightgrey;
    border-left: 1px solid lightgrey;
    border-top: 0px;
    border-bottom: 0px;
    padding: 5px;
}

#project_name {
    font-size: 15px;
    padding-top: 20px;
    text-align:center;
    margin-left:325px;
}

#total {
    font-weight: bold;
    text-align: center
}
#taxes {
    text-align: left
}

.note{
    font-size:11px;
    font-style: calibri;
}